body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.converter {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.input-section, .output-section {
    margin-bottom: 20px;
}

.input-section input, 
.input-section select,
.output-section select,
.output-section button {
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
    width: 100%;
    max-width: 300px;
}

.result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fafafa;
}
footer {
    background: #212F3C;
    color: white;
    text-align: center;
    padding: 2px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}